{% extends 'base.html' %}

{% block head %}
<h1>Template</h1>
{% endblock %}

{% block body %}

    <h1>Youtube Video Comment Scraping & Analysis of Positive and Negative Comments</h1><br>
    <form method="post" action="/scrap">

        <br/>
        <label>Paste your youtube video url</label><br>
        <input type="text" name="youtube url"><br><br>

        <input type="submit" value="Scrap" id="scrap_button" onclick="$('#loading').show();"><br><br>

    </form>

    <div id="loading">
    <span style="--i:1">F</span>
    <span style="--i:2">E</span>
    <span style="--i:3">T</span>
    <span style="--i:4">C</span>
    <span style="--i:5">H</span>
    <span style="--i:6">I</span>
    <span style="--i:7">N</span>
    <span style="--i:8">G&nbsp;</span>
    <span style="--i:9">C</span>
    <span style="--i:10">O</span>
    <span style="--i:11">M</span>
    <span style="--i:12">M</span>
    <span style="--i:13">E</span>
    <span style="--i:14">N</span>
    <span style="--i:15">T</span>
    <span style="--i:16">S</span>
    <span style="--i:17">.</span>
    <span style="--i:18">.</span>
    <span style="--i:19">.</span>
    <span style="--i:20">.</span></div>

    <br>
    {% if complete_message %}
        <h3>{{ complete_message }}<br><br/>
            <span class="res_mes"> Video Title:</span>{{ title }}<br/>
            <span class="res_mes">Video Published by:</span>{{ owner }}<br/>
            <span class="res_mes">Total Comments including replies:</span>{{ total_comments }}<br/>
            <img src = "/static/sa_comment.png" alt = "SA Image" /><br></h3>

    {% endif %}<br>

     <div style="overflow-x: auto;">
        {% if complete_message %}
            <h3><span class="pos_head">Positive Comments</span></h3>
            <table>
                <tr>
                    {% for pos_comment in positive_comments %}
                    {{ pos_comment | safe}}
                    {% endfor %}
                </tr>
            </table><br>
        {% endif %}
    </div>
    <div style="overflow-x: auto;">
        {% if complete_message %}
            <h3><span class="neg_head">Negative Comments</span></h3>
            <table>
                <tr>
                    {% for neg_comment in negative_comments %}
                    {{ neg_comment | safe}}
                    {% endfor %}
                </tr>
            </table><br>
        {% endif %}
    </div>
    <div style="overflow-x: auto;">
        {% if complete_message %}
            <h3><span class="neutral_head">Neutral Comments</span></h3>
            <table>
                <tr>
                    {% for neu_comment in neutral_comments %}
                    {{ neu_comment | safe}}
                    {% endfor %}
                </tr>
            </table><br>
        {% endif %}
    </div>
{% endblock %}